apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: editor-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: editor
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/editor"
