#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: editor-secret
  labels:
    app: editor
  namespace: {{ NAMESPACE }}
type: Opaque
data:
{% if EDITOR_MONGO_PASS is defined and EDITOR_MONGO_PASS|length  %}
  MONGO_PASS: "{{ EDITOR_MONGO_PASS | b64encode }}"
{% endif %}
{% if EDITOR_MONGO_USER is defined and EDITOR_MONGO_USER|length %}
  MONGO_USER: "{{ EDITOR_MONGO_USER | b64encode }}"
{% endif %}
{% if EDITOR_MONGO_URI is defined and EDITOR_MONGO_URI|length %}
  MONGO_URI: "{{ EDITOR_MONGO_URI | b64encode }}"
{% endif %}
{% if EDITOR_REDIS_KEY is defined and EDITOR_REDIS_KEY|length %}
  REDIS_KEY: "{{ EDITOR_REDIS_KEY | b64encode }}"
{% endif %}
{% if EDITOR_REDIS_URI is defined and EDITOR_REDIS_URI|length %}
  REDIS_URI: "{{ EDITOR_REDIS_URI | b64encode }}"
{% endif %}

