client:
  dns:
    # Tell client's DNS resolver to never send names with these suffixes to the cluster side resolver
    excludeSuffixes: [".com", ".io", ".net", ".org", ".ru", ".de", ".dev"]
  routing:
    neverProxySubnets:
      # do not proxy the k8s proxy itself (obtained from kuebconfig)
      - 85.215.128.0/17
    alsoProxySubnets:
      # dev-??? postgres
      - 10.0.2.101/32
      # dev-brb postgres
      - 10.0.4.96/28
      # ionos mongodb ips can be obtained like so: dig +short SRV _mongodb._tcp.<mongodb-host-name>
      # then for each host check that ip and calculate the subnet
      # dev-nbc mongodb
      - 10.0.34.0/24
      # dev-dbc mongodb
      - 10.0.10.0/24
      # dev-brb mongodb
      - 10.0.18.0/24
      # dev-thr mongodb
      - 10.0.8.0/24
