apiVersion: v1
kind: Service
metadata:
  name: mailcatcher-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: mailcatcher
spec:
  type: ClusterIP
  ports:
    - port: 1025
      targetPort: 1025
      protocol: TCP
      name: smtp-mail
    - port: 1080
      targetPort: 1080
      protocol: TCP
      name: http-mail
  selector:
    app: mailcatcher
