#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ NAMESPACE }}-hydra-ingress
  namespace: {{ NAMESPACE }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "{{ TLS_ENABELD|default("false") }}"
{% if CLUSTER_ISSUER is defined %}
    cert-manager.io/cluster-issuer: {{ CLUSTER_ISSUER }}
{% endif %}

spec:
{% if CLUSTER_ISSUER is defined or (TLS_ENABELD is defined and TLS_ENABELD|bool) %}
  tls:
  - hosts:
      - {{ HYDRA_DNS_PREFIX }}{{ DOMAIN }}
{% if CLUSTER_ISSUER is defined %}
        secretName: {{ HYDRA_DNS_PREFIX }}{{ DOMAIN }}-tls
{% endif %}
{% endif %}
  rules:
  - host: {{ HYDRA_DNS_PREFIX }}{{ DOMAIN }}
    http:
      paths:
      - path: /
        backend:
          serviceName: hydra-svc
          servicePort: 4444

