apiVersion: batch/v1
kind: Job
metadata:
  name: pg-hydra-init-job-{{ 1000000 | random | hash('md5') }}
  namespace: {{ NAMESPACE }}
  labels:
    app: hydra-postgres-init
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/name: hydra-postgres-init
    app.kubernetes.io/component: oauth
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ DOF_APP_DEPLOY_BRANCH_NAME }}
    git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
spec:
  template:
    metadata:
      labels:
        app: hydra-postgres-init
        app.kubernetes.io/part-of: schulcloud-verbund
        app.kubernetes.io/name: hydra-postgres-init
        app.kubernetes.io/component: oauth
        app.kubernetes.io/managed-by: ansible
        git.branch: {{ DOF_APP_DEPLOY_BRANCH_NAME }}
        git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
    spec:
      volumes:
        - name: config-script
          configMap:
            name: pg-hydra-configmap-init
            # 711 in decimal is 457
            defaultMode: 457
      containers:
        - name:  psql-hydra-config
          image: {{ POSTGRES_MANAGEMENT_JOB_IMAGE }}
          command:
            - /bin/bash
            - -c
          args:
            - /scripts/config_script.sh
          resources:
            limits:
              cpu: 1000m
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 200Mi
          volumeMounts:
            - name: config-script
              mountPath: /scripts/
          envFrom:
            - secretRef:
                name: pg-hydra-secret
          env:
            - name: PGHOST
              value: {{ POSTGRES_MANAGEMENT_HOST }}
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: pg-cluster-secret
                  key: username
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-cluster-secret
                  key: password
      restartPolicy: Never
  ttlSecondsAfterFinished: 1800