apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: hydra-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: hydra
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/hydra"