#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: hydra-secret
  labels:
    app: hydra
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  SECRETS_SYSTEM: "{{ HYDRA_SYSTEM_SECRET | b64encode }}"
  DSN: "{{ HYDRA_DATABASE_URL | b64encode }}"
  OIDC_SUBJECT_IDENTIFIERS_PAIRWISE_SALT: "{{ HYDRA_OIDC_SUBJECT_IDENTIFIERS_PAIRWISE_SALT | b64encode }}"