apiVersion: v1
kind: Secret
metadata:
  name: pg-hydra-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: hydra-postgres-init
type: Opaque
data:
    DB_USER: "{{ (POSTGRES_MANAGEMENT_PREFIX + 'hydra') | b64encode }}"
    DB_USER_PASSWORD: "{{ lookup('ansible.builtin.password', '/dev/null') | b64encode }}"
    DB_NAME: "{{ (POSTGRES_MANAGEMENT_PREFIX + 'hydra') | b64encode }}"