#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: hydra-secret
  labels:
    app: hydra
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  POSTGRES_PASSWORD: "{{ HYDRA_POSTGRES_PASSWORD | b64encode }}"
  HYDRA_SYSTEM_SECRET: "{{ HYDRA_SYSTEM_SECRET | b64encode }}"
  POSTGRES_HOST: "{{ HYDRA_POSTGRES_HOST | b64encode }}"
  POSTGRES_USER: "{{ HYDRA_POSTGRES_USER | b64encode }}"
  POSTGRES_DB: "{{ HYDRA_POSTGRES_DB | b64encode }}"
  DATABASE_URL: "{{ HYDRA_DATABASE_URL | b64encode }}"
  DSN: "{{ HYDRA_DATABASE_URL | b64encode }}"
  OIDC_SUBJECT_IDENTIFIERS_PAIRWISE_SALT: "{{ HYDRA_OIDC_SUBJECT_IDENTIFIERS_PAIRWISE_SALT | b64encode }}"