apiVersion: v1
kind: ConfigMap
metadata:
  name: cachet-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: cachet
data:
  # general
  APP_NAME: "statuspage"
  APP_TIMEZONE: "UTC"
  DB_DRIVER: "pgsql"
  MAIL_DRIVER: "log"
  SESSION_DRIVER: "file"
  CACHE_DRIVER: "database"
  QUEUE_DRIVER: "database"
  CACHET_INTERNET_LOOKUPS: "false"
