apiVersion: v1
kind: ConfigMap
metadata:
  name: etherpad-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: etherpad
data:
  # general
  DB_DRIVER: "pgsql"
  DB_HOST: "https://cachet-postgres-svc:5432"
  DB_DATABASE: "postgres"
  DB_USERNAME: "{{ POSTGRES_USER }}"
  DB_PASSWORD: "{{ POSTGRES_DB }}"
  SESSION_DRIVER: "file"
  CACHE_DRIVER: "database"
  QUEUE_DRIVER: "database"