apiVersion: v1
kind: ConfigMap
metadata:
  name: cachet-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: cachet
data:
  # general
  DB_DRIVER: "pgsql"
  SESSION_DRIVER: "file"
  CACHE_DRIVER: "database"
  QUEUE_DRIVER: "database"
