apiVersion: apps/v1
kind: Deployment
metadata:
  name: cachet-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: cachet
spec:
  replicas: {{ CACHET_REPLICAS|default(1, true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: cachet
  template:
    metadata:
      labels:
        app: cachet
    spec:
      containers:
      - name: cachet
        image: {{ CACHET_IMAGE_NAME }}:{{ CACHET_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
          name: cachet
          protocol: TCP
        env:
        envFrom:
        - configMapRef:
            name: cachet-configmap
        - secretRef:
            name: cachet-secret
        resources:
          limits:
            cpu: {{ CACHET_CPU_LIMITS|default("1000m", true) }}
            memory: {{ CACHET_MEMORY_LIMITS|default("1Gi", true) }}
          requests:
            cpu: {{ CACHET_CPU_REQUESTS|default("100m", true) }}
            memory: {{ CACHET_MEMORY_REQUESTS|default("128Mi", true) }}
