apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: cachet-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: cachet
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/cachet"