apiVersion: v1
kind: Secret
metadata:
  name: cachet-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: cachet
type: Opaque
data:
  DB_HOST: "{{ DB_HOST | b64encode }}"
  DB_PORT: "{{ DB_PORT | b64encode }}"
  DB_DATABASE: "{{ DB_DATABASE | b64encode }}"
  DB_USERNAME: "{{ DB_USERNAME | b64encode }}"
  DB_PASSWORD: "{{ DB_PASSWORD | b64encode }}"
  DB_PREFIX: "{{ DB_PREFIX | b64encode }}"
  APP_KEY: "{{ APP_KEY | b64encode }}"
