apiVersion: v1
kind: Secret
metadata:
  name: etherpad-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: etherpad
type: Opaque
data:
  # echo -n "VALUE" | base64
  ETHERPAD_MONGOURL: "{{ ETHERPAD_MONGOURL| b64encode }}"