apiVersion: v1
kind: Secret
metadata:
  name: cachet-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: cachet
type: Opaque
data:
  DB_USERNAME: "{{ POSTGRES_USER }}"
  DB_PASSWORD: "{{ POSTGRES_PASSWORD | b64encode }}"