apiVersion: v1
kind: Service
metadata:
  name: cachet-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: cachet
spec:
  type: ClusterIP
  ports:
    - name: cachet
      port: {{ CACHET_PORT }}
      targetPort: 8000
      protocol: TCP
  selector:
    app: cachet
