apiVersion: v1
kind: Service
metadata:
  name: default-backend-404-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: default-backend-404
spec:
  type: ClusterIP
  ports:
    - name: backend-404
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: default-backend-404