apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-default-allow
  namespace: {{ NAMESPACE }}
spec:
  podSelector:
    matchExpressions:
      - key: app
        operator: In
        values:
          - default-backend-404
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchExpressions:
              - key: kubernetes.io/metadata.name
                operator: In
                values:
                  - monitoring
                  - ingress-controller
                  - scaling
                  - "{{ NAMESPACE }}"
