#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ NAMESPACE }}-ingress
  namespace: {{ NAMESPACE }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "{{ TLS_ENABELD|default("false") }}"

spec:
{% if TLS_ENABELD is defined and TLS_ENABELD|bool %}
  tls:
  - hosts:
      - {{ DOMAIN }}
{% endif %}
  rules:
  - host: {{ DOMAIN }}
    http:
      paths:
      ### Client / Nuxtclient
      - path: /
        backend:
          serviceName: client-svc
          servicePort: {{ CLIENT_PORT }}
      - path: /themes/{{ SC_THEME }}/favicon.png
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /runtime.config.json
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /account
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /activation
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /administration/ldap
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /metrics
        backend:
          serviceName: default-backend-404-svc
          servicePort: 8080
      - path: /login-instances
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /login
        backend:
      {% if WITH_LDAP_SEPERATION is defined and WITH_LDAP_SEPERATION %}
          serviceName: client-ldap-svc
      {% else %}
          serviceName: client-svc
      {% endif %}
          servicePort: {{ CLIENT_PORT }}
      - path: /login/success
        backend:
          serviceName: client-svc
          servicePort: {{ CLIENT_PORT }}
      - path: /error
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /imprint
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /termsofuse
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /mint-ec
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /insights
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /news
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /tasks
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /tasks/open
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /tasks/assigned
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /homework
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /homework/asked
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /homework/private
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /nuxtversion
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /content
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /_nuxt
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /systems/ldap
        backend:
      {% if WITH_LDAP_SEPERATION is defined and WITH_LDAP_SEPERATION %}
          serviceName: nuxtclient-ldap-svc
      {% else %}
          serviceName: nuxtclient-svc
      {% endif %}
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /administration/systems/ldap
        backend:
      {% if WITH_LDAP_SEPERATION is defined and WITH_LDAP_SEPERATION %}
          serviceName: nuxtclient-ldap-svc
      {% else %}
          serviceName: nuxtclient-svc
      {% endif %}
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /administration/school-settings
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /rooms-overview
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /rooms-list
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /administration/datasources
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /administration/students/
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /administration/teachers/
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}
      - path: /administration/migration/
        backend:
          serviceName: nuxtclient-svc
          servicePort: {{ NUXTCLIENT_PORT }}

      ### Etherpad
      - path: /etherpad
        backend:
          serviceName: etherpad-nginx-svc
          servicePort: 80
      - path: /etherpad/socket.io
        backend:
          serviceName: etherpad-nginx-svc
          servicePort: 80
      ### Server
      - path: /api
        backend:
          serviceName: default-backend-404-svc
          servicePort: 8080
      - path: /api/v1/metrics
        backend:
          serviceName: default-backend-404-svc
          servicePort: 8080
        pathType: Prefix
      - path: /api/v1/accounts
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/accounts/jwtTimer
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/edu-sharing
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/me
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v3/tasks
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v3/user/me
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v3/user/import
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v3/news
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v3/dashboard
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v3/courses
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      {% if ROUTE_ROSTER is defined and ROUTE_ROSTER %}
      # Route /roster is used by bettermarks
      - path: /api/v1/roster
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/roster
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      {% endif %}
      - path: /api/v1/schools/
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/years/
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/federalStates
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/systems
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/ldap-config
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/version
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/wopi
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/courses
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/lessons
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/authentication
        backend:
      {% if WITH_LDAP_SEPERATION is defined and WITH_LDAP_SEPERATION %}
          serviceName: api-ldap-svc
      {% else %}
          serviceName: api-svc
      {% endif %}
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/sync
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/ldap
        backend:
      {% if WITH_LDAP_SEPERATION is defined and WITH_LDAP_SEPERATION %}
          serviceName: api-ldap-svc
      {% else %}
          serviceName: api-svc
      {% endif %}
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/registration
        pathType: Prefix
        backend:
      {% if NAMESPACE == 'niedersachsen' %}
          serviceName: default-backend-404-svc
          servicePort: 8080
      {% elif WITH_LDAP_SEPERATION is defined and WITH_LDAP_SEPERATION %}
          serviceName: api-ldap-svc
          servicePort: {{ PORT_SERVER }}
      {% else %}
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      {% endif %}
      - path: /api/v1/users
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/classes
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/roles/user
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
      - path: /api/v1/config/app/public
        backend:
          serviceName: api-svc
          servicePort: {{ PORT_SERVER }}
