apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: app-ingress
  namespace: {{ NAMESPACE }}
  annotations:
{% if RUN_ENV_NGINX is defined and RUN_ENV_NGINX %}
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
{% endif %}
spec:
  rules:
  ### Server
  - host: {{ DOMAIN }}
    http:
      paths:
      - path: /
        backend:
          serviceName: ingress-client-svc
          servicePort: 443
      - path: /api
        backend:
          serviceName: ingress-api-svc
          servicePort: 443
