apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ ERWINIDM_ADMIN_TLS_AUTH_SECRET }}
  namespace: {{ NAMESPACE }}
  labels:
    app: erwinidm
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/{{ ERWINIDM_ADMIN_TLS_AUTH_SECRET }}"
