apiVersion: v1
kind: ConfigMap
metadata:
  name: erwinidm-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: erwinidm
data:
  # See https://www.keycloak.org/server/all-config?f=config
  KC_HOSTNAME: "{{ ERWINIDM_PREFIX }}{{ DOMAIN }}"
  KC_HTTP_ENABLED: "true"
  KC_HTTP_PORT: "{{ ERWINIDM_PORT }}"
  KC_PROXY: "edge"
  JAVA_OPTS_APPEND: "-Djgroups.dns.query=erwinidm-svc.{{ NAMESPACE }}.svc.cluster.local"