apiVersion: v1
kind: ConfigMap
metadata:
  name: erwinidm-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: erwinidm
data:
  # See https://www.keycloak.org/server/all-config?f=config
  KC_HOSTNAME: "{{ ERWINIDM_PREFIX }}{{ DOMAIN }}"
  KC_HOSTNAME_ADMIN: "localhost"
  KC_HTTP_ENABLED: "true"
  KC_HTTP_PORT: "{{ ERWINIDM_PORT }}"
  KC_PROXY: "edge"
  KC_DB_SCHEMA: "erwinidm"
  KC_HOSTNAME_STRICT_HTTPS: "false"
  KC_HOSTNAME_STRICT: "false"
  PROXY_ADDRESS_FORWARDING: "true"