#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ NAMESPACE }}-erwinidm-ingress
  namespace: {{ NAMESPACE }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: 50m
    nginx.ingress.kubernetes.io/client_max_body_size: 50m
    nginx.ingress.kubernetes.io/ssl-redirect: "{{ TLS_ENABELD|default("false") }}"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "Host $host";
      more_set_headers "X-Real-IP $remote_addr";
      more_set_headers "X-Forwarded-For $proxy_add_x_forwarded_for";
      more_set_headers "X-Forwarded-Proto $scheme";
      more_set_headers "X-Forwarded-Host $host/admin";
{% if CLUSTER_ISSUER is defined %}
    cert-manager.io/cluster-issuer: {{ CLUSTER_ISSUER }}
{% endif %}

spec:
{% if CLUSTER_ISSUER is defined or (TLS_ENABELD is defined and TLS_ENABELD|bool) %}
  tls:
  - hosts:
      - {{ ERWINIDM_PREFIX }}{{ DOMAIN }}
{% if CLUSTER_ISSUER is defined %}
    secretName: {{ ERWINIDM_PREFIX }}{{ DOMAIN }}-tls
{% endif %}
{% endif %}
  rules:
  - host: {{ ERWINIDM_PREFIX }}{{ DOMAIN }}
    http:
      paths:
      - path: /realms/
        backend:
          serviceName: erwinidm-svc
          servicePort: {{ ERWINIDM_PORT }}
      - path: /resources/
        backend:
          serviceName: erwinidm-svc
          servicePort: {{ ERWINIDM_PORT }}
      - path: /js/
        backend:
          serviceName: erwinidm-svc
          servicePort: {{ ERWINIDM_PORT }}
      - path: /robots.txt
        backend:
          serviceName: erwinidm-svc
          servicePort: {{ ERWINIDM_PORT }}