#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ NAMESPACE }}-erwinidm-ingress
  namespace: {{ NAMESPACE }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
    nginx.ingress.kubernetes.io/proxy-buffers-number: "4"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "256k"
    nginx.ingress.kubernetes.io/ssl-redirect: "{{ TLS_ENABLED|default("false") }}"
{% if CLUSTER_ISSUER is defined %}
    cert-manager.io/cluster-issuer: {{ CLUSTER_ISSUER }}
{% endif %}

spec:
  ingressClassName: {{ INGRESS_CLASS }}
{% if CLUSTER_ISSUER is defined or (TLS_ENABLED is defined and TLS_ENABLED|bool) %}
  tls:
  - hosts:
      - {{ ERWINIDM_PREFIX }}{{ DOMAIN }}
{% if CLUSTER_ISSUER is defined %}
    secretName: {{ ERWINIDM_PREFIX }}{{ DOMAIN }}-tls
{% endif %}
{% endif %}
  rules:
  - host: {{ ERWINIDM_PREFIX }}{{ DOMAIN }}
    http:
      paths:
      - path: /realms/
        pathType: Prefix
        backend:
          service:
            name: erwinidm-svc
            port:
              number: {{ ERWINIDM_PORT }}
      - path: /resources/
        pathType: Prefix
        backend:
          service:
            name: erwinidm-svc
            port:
              number: {{ ERWINIDM_PORT }}
      - path: /js/
        pathType: Prefix
        backend:
          service:
            name: erwinidm-svc
            port:
              number: {{ ERWINIDM_PORT }}
      - path: /robots.txt
        pathType: Prefix
        backend:
          service:
            name: erwinidm-svc
            port:
              number: {{ ERWINIDM_PORT }}
