apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: erwinidm-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: erwinidm
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/erwinidm"
