apiVersion: v1
kind: Secret
metadata:
  name: pg-erwinidm-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: erwinidm-postgres-init
type: Opaque
data:
    DB_USER: "{{ (POSTGRES_MANAGEMENT_PREFIX + 'erwinidm') | b64encode }}"
    DB_USER_PASSWORD: "{{ lookup('ansible.builtin.password', '/dev/null') | b64encode }}"
    DB_NAME: "{{ (POSTGRES_MANAGEMENT_PREFIX + 'erwinidm') | b64encode }}"