apiVersion: v1
kind: Service
metadata:
  name: erwinidm-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: erwinidm
spec:
  ports:
    - port: {{ ERWINIDM_PORT }}
      targetPort: {{ ERWINIDM_PORT }}
      protocol: TCP
      name: erwinidm
    - port: 8090
      targetPort: 8090
      protocol: TCP
      name: erwinidm-mgmt
  selector:
    app: erwinidm
  clusterIP: None
  publishNotReadyAddresses: true
