apiVersion: batch/v1
kind: Job
metadata:
  name: deployment-metrics-marker-job
spec:
  template:
    spec:
      containers:
      - name: deployment-metrics-marker
        image: schulcloud/infra-tools:latest
        command: {{ deployment_marker_job_command }}
      restartPolicy: Never
  backoffLimit: 4