- name: Add or Update Postgres Cluster Secret by 1Password
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config 
    namespace: "{{ NAMESPACE }}"
    template: onepassword-pg-cluster.yml.j2
  when: ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool

- name: Check if secret with database credentials already exists
  kubernetes.core.k8s_info:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    kind: Secret
    name: "pg-{{ database_name }}-secret"
  register: db_secret_present

- name: Create Secret for the database (if not existing)
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: secret-database.yml.j2
  when: db_secret_present.resources|length == 0

- name: Create ConfigMap with Script
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: configmap-database-init.yml.j2
    apply: yes

- name: Create/execute database configuration script
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config 
    namespace: "{{ NAMESPACE }}"
    template: job-database-init.yml.j2

- name: Create ConfigMap with Script for database deletion
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: configmap-database-deletion.yml.j2
    apply: yes

- name: Create suspended Job for database deletion
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: job-database-deletion.yml.j2
    apply: yes
