apiVersion: batch/v1
kind: Job
metadata:
  name: tsp-keycloak-add-redirect-job
  namespace: {{ NAMESPACE }}
  labels:
    app: tsp-keycloak-mgmt
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/name: tsp-keycloak-mgmt
    app.kubernetes.io/component: tsp
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ DOF_APP_DEPLOY_BRANCH_NAME }}
    git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
spec:
  template:
    metadata:
      labels:
        app: tsp-keycloak-mgmt
    spec:
      volumes:
        - name: config-script
          configMap:
            name: tsp-kc-redirect-script-configmap
            # 711 in decimal is 457
            defaultMode: 457
      containers:
        - name:  tsp-keycloak-redirect-mgmt
          image: quay.io/schulcloudverbund/infra-tools:latest
          command:
            - /bin/bash
            - -c
          args:
            - /scripts/manage_keycloak_redirect.py --{{ manage_keycloak_redirect_arg }} https://{{ DOMAIN }}/*
          resources:
            limits:
              cpu: 1000m
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 200Mi
          volumeMounts:
            - name: config-script
              mountPath: /scripts/
          envFrom:
            - secretRef:
                name: tsp-keycloak-redirect
      restartPolicy: Never
      suspend: {{ suspend | default(false) }}
  ttlSecondsAfterFinished: 0