apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: tsp-keycloak-redirect
  namespace: {{ NAMESPACE }}
  labels:
    app: tsp-keycloak-mgmt
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/tsp-keycloak-redirect"