---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: storage-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: storage
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/name: minio
    app.kubernetes.io/component: storage
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ DOF_APP_DEPLOY_BRANCH_NAME }}
    git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
spec:
  replicas: {{ STORAGE_REPLICAS|default(1, true) }}
  strategy:
    type: Recreate
  revisionHistoryLimit: 4
  paused: false
  selector:
    matchLabels:
      app: storage
  template:
    metadata:
      labels:
        app: storage
        app.kubernetes.io/part-of: schulcloud-verbund
        app.kubernetes.io/name: minio
        app.kubernetes.io/component: storage
        app.kubernetes.io/managed-by: ansible
        git.branch: {{ DOF_APP_DEPLOY_BRANCH_NAME }}
        git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
      annotations:
        configmapHash: ""
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: storage
        image: {{ STORAGE_IMAGE_NAME }}
        imagePullPolicy: Always
        args: ["server", "/data"]
        ports:
        - containerPort: {{ STORAGE_PORT }}
          name: storage
          protocol: TCP
        envFrom:
        - secretRef:
            name: storage-secret
        volumeMounts:
        - name: storage-pv
          mountPath: /data
          readOnly: false
        resources:
          limits:
            cpu: {{ STORAGE_CPU_LIMITS|default("1000m", true) }}
            memory: {{ STORAGE_MEMORY_LIMITS|default("1Gi", true) }}
          requests:
            cpu: {{ STORAGE_CPU_REQUESTS|default("100m", true) }}
            memory: {{ STORAGE_MEMORY_REQUESTS|default("128Mi", true) }}
      volumes:
      - name: storage-pv
        persistentVolumeClaim:
          claimName: storage-pvc
{% if AFFINITY_ENABLE is defined and AFFINITY_ENABLE|bool %}
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 9
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/part-of
                  operator: In
                  values:
                  - schulcloud-verbund
              topologyKey: "kubernetes.io/hostname"
              namespaceSelector: {}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
{% if ANIT_AFFINITY_NODEPOOL_ENABLE is defined and ANIT_AFFINITY_NODEPOOL_ENABLE|bool %}
          - weight: 10
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - minio
              topologyKey: {{ ANIT_AFFINITY_NODEPOOL_TOPOLOGY_KEY }}
{% endif %}
          - weight: 20
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - minio
              topologyKey: "topology.kubernetes.io/zone"
{% endif %}
