---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: storage-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: storage
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      #maxUnavailable: 1
  revisionHistoryLimit: 4
  paused: false
  selector:
    matchLabels:
      app: storage
  template:
    metadata:
      labels:
        app: storage
      annotations:
        configmapHash: ""
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: storage
        image: {{ STORAGE_IMAGE_NAME }}
        imagePullPolicy: Always
        args: ["server", "/data"]
        ports:
        - containerPort: {{ STORAGE_PORT }}
          name: storage
          protocol: TCP
        envFrom:
        - secretRef:
            name: storage-secret
        volumeMounts:
        - name: storage-pv
          mountPath: /data
          readOnly: false
        resources:
          limits:
            cpu: "1000m"
            memory: "512Mi"
          requests:
            cpu: "100m"
            memory: "512Mi"
      volumes:
      - name: storage-pv
        persistentVolumeClaim:
          claimName: storage-pvc
