apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: storage-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: storage
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/storage"