apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: storage-pvc
  namespace: {{ NAMESPACE }}
  labels:
    app: storage
spec:
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ STORAGE_CAPACITY|default("10Gi", true) }}