#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: storage-secret
  labels:
    app: storage
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  MINIO_ACCESS_KEY: {{ item.MINIO_ACCESS_KEY | b64encode }}
  MINIO_SECRET_KEY: {{ item.MINIO_SECRET_KEY | b64encode }}