apiVersion: v1
kind: Service
metadata:
  name: storage-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: storage
spec:
  type: ClusterIP
  ports:
    - port: {{ STORAGE_PORT }}
      targetPort: {{ STORAGE_PORT }}
      protocol: TCP
      name: storage
  selector:
    app: storage
