apiVersion: apps/v1
kind: Deployment
metadata:
  name: clamav-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: clamav
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/version: "{{ CLAMAV_IMAGE_TAG }}"
    app.kubernetes.io/name: clamav
    app.kubernetes.io/component: antivirus
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ DOF_APP_DEPLOY_BRANCH_NAME }}
    git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
spec:
  replicas: {{ CLAMAV_REPLICAS|default(1, true) }}
  selector:
    matchLabels:
      app: clamav
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: clamav
        app.kubernetes.io/part-of: schulcloud-verbund
        app.kubernetes.io/version: "{{ CLAMAV_IMAGE_TAG }}"
        app.kubernetes.io/name: clamav
        app.kubernetes.io/component: antivirus
        app.kubernetes.io/managed-by: ansible
        git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
    spec:
      containers:
      - name: clamav
        image: {{ CLAMAV_IMAGE_NAME }}:{{ CLAMAV_IMAGE_TAG }}
        ports:
        - containerPort: 3310
        envFrom:
        - configMapRef:
            name: clamav-configmap
        resources:
          limits:
            cpu: {{ CLAMAV_CPU_MAX|default("500m", true) }}
            memory: {{ CLAMAV_MEMORY_MAX|default("3Gi", true) }}
          requests:
            cpu: {{ CLAMAV_CPU_MIN|default("100m", true) }}
            memory: {{ CLAMAV_MEMORY_MIN|default("1Gi", true) }}
{% if AFFINITY_ENABLE is defined and AFFINITY_ENABLE|bool %}
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 9
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/part-of
                  operator: In
                  values:
                  - schulcloud-verbund
              topologyKey: "kubernetes.io/hostname"
              namespaceSelector: {}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
{% if ANIT_AFFINITY_NODEPOOL_ENABLE is defined and ANIT_AFFINITY_NODEPOOL_ENABLE|bool %}
          - weight: 10
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - clamav
              topologyKey: {{ ANIT_AFFINITY_NODEPOOL_TOPOLOGY_KEY }}
{% endif %}
          - weight: 20
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - clamav
              topologyKey: "topology.kubernetes.io/zone"
{% endif %}
