apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ mongodb_query_exporter_secret_name }}
  namespace: {{ NAMESPACE }}
  labels:
    app: mongodb-query-exporter
spec:
  refreshInterval: {{ EXTERNAL_SECRETS_REFRESH_INTERVAL }}
  secretStoreRef:
    kind: SecretStore
    name: {{ EXTERNAL_SECRETS_K8S_STORE }}
  target:
    name: {{ mongodb_query_exporter_secret_name }}
    template:
      engineVersion: v2
      mergePolicy: Merge
      data:
        MDBEXPORTER_SERVER_0_MONGODB_URI:  "{{ '{{ .MONGO_MANAGEMENT_TEMPLATE_URL }}/' ~ mongodb_query_exporter_mongodb_sc_db_name }}"
  dataFrom:
  - extract:
      key: {{ mongodb_query_exporter_secret_name }}{{ EXTERNAL_SECRETS_POSTFIX }}
  data:
  - secretKey: MONGO_MANAGEMENT_TEMPLATE_URL
    remoteRef:
      key: mongo-cluster-readwrite-secret
      property: credentials-url
