apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ mongodb_query_exporter_secret_name }}
  namespace: {{ NAMESPACE }}
  labels:
    app: mongodb-query-exporter
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/{{ mongodb_query_exporter_secret_name }}"
