apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: mongodb-query-exporter-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: mongodb-query-exporter
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/mongodb-query-exporter"
