apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: external-secrets-k8s-store
  namespace: {{ NAMESPACE }}
subjects:
  - kind: ServiceAccount
    name: external-secrets-k8s-store
    namespace: {{ NAMESPACE }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ EXTERNAL_SECRETS_CLUSTERROLE }}
