apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: {{ EXTERNAL_SECRETS_K8S_STORE }}
  namespace: {{ NAMESPACE }}
spec:
  provider:
    kubernetes:
      auth:
        token:
          bearerToken:
            name: external-secrets-secretstore-token
            key: token
      remoteNamespace: {{ NAMESPACE }}
      server:
        caProvider:
          key: ca.crt
          name: kube-root-ca.crt
          type: ConfigMap
