apiVersion: v1
kind: Secret
metadata:
  name: external-secrets-secretstore-token
  namespace: {{ NAMESPACE }}
  labels:
    app: external-secrets
type: Opaque
data:
    token: "{{ query('kubernetes.core.k8s', kind='Secret', namespace=EXTERNAL_SECRETS_NAMESPACE, resource_name=EXTERNAL_SECRETS_TOKEN_SECRET, kubeconfig=kubeconfig)[0].data.token }}"