- name: Delete deployment-metrics-job to mark end of deployment
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    state: absent
    api_version: batch/v1
    kind: Job
    name: deployment-metrics-marker-job