apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: postgres
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/version: {{ quote POSTGRES_IMAGE_TAG }}
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ DOF_APP_DEPLOY_BRANCH_NAME }}
    git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
spec:
  replicas: {{ POSTGRES_REPLICAS|default(1, true) }}
  selector:
    matchLabels:
      app: postgres
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: postgres
        app.kubernetes.io/part-of: schulcloud-verbund
        app.kubernetes.io/version: {{ quote POSTGRES_IMAGE_TAG }}
        app.kubernetes.io/name: postgres
        app.kubernetes.io/component: database
        app.kubernetes.io/managed-by: ansible
        git.branch: {{ DOF_APP_DEPLOY_BRANCH_NAME }}
        git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
    spec:
      containers:
      - name: postgres
        image: {{ POSTGRES_IMAGE_NAME }}:{{ POSTGRES_IMAGE_TAG }}
        ports:
        - containerPort: 5432
        envFrom:
{% if ONEPASSWORD_OPERATOR is undefined or ONEPASSWORD_OPERATOR is defined and not ONEPASSWORD_OPERATOR %}
        - configMapRef:
            name: postgres-configmap
{% endif %}
        - secretRef:
            name: postgres-secret
        volumeMounts:
        - name: postgres-data-pv
          mountPath: /var/lib/postgresql/data
          readOnly: false
        - name: postgres-data-init
          mountPath: /docker-entrypoint-initdb.d/01_erwinidm.sql
          subPath: 01_erwinidm.sql
        resources:
          limits:
            cpu: {{ POSTGRES_CPU_LIMITS|default("2000m", true) }}
            memory: {{ POSTGRES_MEMORY_LIMITS|default("1Gi", true) }}
          requests:
            cpu: {{ POSTGRES_CPU_REQUESTS|default("500m", true) }}
            memory: {{ POSTGRES_MEMORY_REQUESTS|default("256Mi", true) }}
      volumes:
      - name: postgres-data-pv
        persistentVolumeClaim:
          claimName: postgres-pvc
      - name: postgres-data-init
        configMap:
          name: postgres-configmap-init
          items:
          - key: 01_erwinidm.sql
            path: 01_erwinidm.sql
