apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: postgres-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: postgres
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/postgres"