apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: {{ NAMESPACE }}
  labels:
    app: postgres
spec:
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ POSTGRES_CAPACITY|default("5Gi", true) }}