#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  labels:
    app: postgres
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  POSTGRES_PASSWORD: "{{ POSTGRES_PASSWORD | b64encode }}"