apiVersion: apps/v1
kind: Deployment
metadata:
  name: rocketchat-deployment
  #namespace: {{ NAMESPACE }}
  labels:
    app: rocketchat
spec:
  #replicas: {{ ROCKET_CHAT_REPLICAS|default(1, true) }}
  replicas: 1
  selector:
    matchLabels:
      app: rocketchat
  template:
    metadata:
      labels:
        app: rocketchat
    spec:
      securityContext:  
        runAsUser: 99999
        runAsGroup: 99999
        fsGroup: 99999
        runAsNonRoot: true
      containers:
      - name: rocketchat
        #image: rocketchat/rocket.chat:3.16.3
        image: {{ ROCKETCHAT_IMAGE_NAME }}:{{ ROCKETCHAT_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - name: rocketchat
          containerPort: 5000
          protocol: TCP
        envFrom:
        - configMapRef:
            name: rocketchat-configmap
        - secretRef:
            name: rocketchat-secret
        volumeMounts:
        - name: rocketchat-uploads-data
          mountPath: /app/uploads
          readOnly: false
        resources:
          limits:
            cpu: "4000m"
            memory: "4Gi"
          requests:
            cpu: "100m"
            memory: "4Gi"
      volumes:
      - name: rocketchat-uploads-data
        emptyDir: {}
