apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: {{ NAMESPACE }}
  labels:
    app: rocketchat
  name: fixup-rocketchat-job
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      activeDeadlineSeconds: 300
      template:
        spec:
          containers:
          - name: fixup-rocketchat-job
            image: schulcloud/infra-tools:latest
            envFrom:
            - secretRef:
                name: rocketchat-secret
            - configMapRef:
                name: rocketchat-configmap
            volumeMounts:
            - name: script
              mountPath: /update.sh
              subPath: update.sh
            command: ['/bin/sh','-c']
            args: ['cp /update.sh /update.run.sh && chmod +x /update.run.sh &&./update.run.sh']
            resources:
              limits:
                cpu: {{ API_CPU_LIMITS|default("300m", true) }}
                memory: {{ API_MEMORY_LIMITS|default("100Mi", true) }}
              requests:
                cpu: {{ API_CPU_REQUESTS|default("100m", true) }}
                memory: {{ API_MEMORY_REQUESTS|default("50Mi", true) }}
          volumes:
          - name: script
            configMap:
              name: fixup-rocketchat-configmap
              items:
              - key: update.sh
                path: update.sh
          restartPolicy: Never
