apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: {{ NAMESPACE }}
  labels:
    app: rocketchat
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/name: rocketchat-cleanup
    app.kubernetes.io/component: chat
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ DOF_APP_DEPLOY_BRANCH_NAME }}
    git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
  name: fixup-rocketchat-job
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      activeDeadlineSeconds: 300
      template:
        spec:
          containers:
          - name: fixup-rocketchat-job
            image: schulcloud/infra-tools:latest
            imagePullPolicy: IfNotPresent
            envFrom:
            - secretRef:
                name: rocketchat-secret
            - configMapRef:
                name: rocketchat-configmap
            volumeMounts:
            - name: script
              mountPath: /update.sh
              subPath: update.sh
            command: ['/bin/sh','-c']
            args: ['cp /update.sh /update.run.sh && chmod +x /update.run.sh &&./update.run.sh']
            resources:
              limits:
                cpu: {{ ROCKETCHAT_FIXUP_CPU_LIMITS|default("1000m", true) }}
                memory: {{ ROCKETCHAT_FIXUP_MEMORY_LIMITS|default("200Mi", true) }}
              requests:
                cpu: {{ ROCKETCHAT_FIXUP_CPU_REQUESTS|default("100m", true) }}
                memory: {{ ROCKETCHAT_FIXUP_MEMORY_REQUESTS|default("200Mi", true) }}
          volumes:
          - name: script
            configMap:
              name: fixup-rocketchat-configmap
              items:
              - key: update.sh
                path: update.sh
          restartPolicy: Never
{% if AFFINITY_ENABLE is defined and AFFINITY_ENABLE|bool %}
          affinity:
            podAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                    - key: app.kubernetes.io/part-of
                      operator: In
                      values:
                      - schulcloud-verbund
                  topologyKey: "kubernetes.io/hostname"
                  namespaceSelector: {}
{% endif %}
        metadata:
          labels:
            app: rocketchat
            app.kubernetes.io/part-of: schulcloud-verbund
            app.kubernetes.io/name: rocketchat-cleanup
            app.kubernetes.io/component: chat
            app.kubernetes.io/managed-by: ansible
            git.repo: {{ DOF_APP_DEPLOY_REPO_NAME }}
