#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: rocketchat-ingress
  namespace: {{ NAMESPACE }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "{{ TLS_ENABELD|default("false") }}"
{% if CLUSTER_ISSUER is defined %}
    cert-manager.io/cluster-issuer: {{ CLUSTER_ISSUER }}
{% endif %}

spec:
  ingressClassName: nginx
{% if CLUSTER_ISSUER is defined or (TLS_ENABELD is defined and TLS_ENABELD|bool) %}
  tls:
  - hosts:
      - {{ ROCKETCHAT_DNS_PREFIX }}{{ DOMAIN }}
{% if CLUSTER_ISSUER is defined %}
    secretName: {{ ROCKETCHAT_DNS_PREFIX }}{{ DOMAIN }}-tls
{% endif %}
{% endif %}
  rules:
  ### RocketChat
  - host: {{ ROCKETCHAT_DNS_PREFIX }}{{ DOMAIN }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1
        pathType: Prefix
        backend:
          service:
            name: default-backend-404-svc
            port:
              number: 8080
      - path: /api/v1/method.call/rooms
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/subscriptions
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/permissions
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/public-settings
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/commands.list
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/emoji-custom.list
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/me
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/roles.list
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/listCustomSounds
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/getUserRoles
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/apps
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/loadHistory
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/listCustomUserStatus
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/licenseModules
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/license
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/banners.getNew
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/loadMissedMessages
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/readMessages
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/sendMessage
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/setReaction
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/users.info
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/users.presence
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/deleteMessage
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/getRoomByTypeAndName
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/createDirectMessage
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/getRoomRoles
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/starMessage
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/updateMessage
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/reportMessage
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/license:isEnterprise
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/license:isEnterprise
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/license:getModules
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/license:getModules
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/public-settings:get
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/public-settings:get
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/apps:is-enabled
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/rooms:get
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/subscriptions:get
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/permissions:get
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/getRoomByTypeAndName
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/loadLocale
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/banners
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/listCustomSounds
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/apps:is-enabled
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/listCustomUserStatus
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/getUserRoles
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/loadHistory
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/rooms:get
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/userSetUtcOffset
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/permissions:get
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.call/loadLocale
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
      - path: /api/v1/method.callAnon/subscriptions:get
        pathType: Prefix
        backend:
          service:
            name: rocketchat-svc
            port:
              number: 5000
