apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: rocketchat-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: rocketchat
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/rocketchat"
