#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: rocketchat-secret
  labels:
    app: rocketchat
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  ADMIN_PASS: "{{ ADMIN_MAIL_RECEIVERS }}"
  MONGO_URL: "{{ ROCKETCHAT_MONGO_URL }}"

