apiVersion: v1
kind: ConfigMap
metadata:
  name: client-nginx-redirect
  namespace: {{ NAMESPACE }}
data:
  default.conf: |
    server {
      listen 3100;
      server_name _;
      location / {
        return 302 "https://activate.{{ SC_SHORTNAME }}.dbildungscloud.dev/namespace?namespace={{ NAMESPACE }}&redirected-from-503=true";
      }
    }

