apiVersion: v1
kind: ConfigMap
metadata:
  name: client-nginx-redirect
  namespace: {{ NAMESPACE }}
data:
  default.conf: |
    server {
      listen 3100;
      server_name _;
      location / {
        return 302 "https://activate.{{ SC_SHORTNAME }}.dbildungscloud.dev/namespace?namespace={{ NAMESPACE }}&redirected-from-503=true";
      }
    }

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: namespace-activator-redirection
  namespace: {{ NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: nginx
        image: nginx:1.27-alpine
        ports:
        - containerPort: 3100
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d
          readOnly: true
      volumes:
      - name: nginx-conf
        configMap:
          name: client-nginx-redirect
          items:
          - key: default.conf
            path: default.conf