apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: sc-common-mongodb-trigger-auth
  namespace: "{{ NAMESPACE }}"
spec:
  secretTargetRef:
    - parameter: connectionString
      name: keda-secret
      key: sc-common-mongodb-url