apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{item.name}}-scaled-obj
  namespace: {{ NAMESPACE }}
spec:
  scaleTargetRef:
    kind: {{ item.kind | default('Deployment') }}
    name: {{ item.name }}
  idleReplicaCount: 0
  minReplicaCount: {{ item.replicaCount | default(1) }}
  maxReplicaCount: {{ item.replicaCount | default(1) }}
  pollingInterval: 30
  cooldownPeriod: 60
  triggers:
    - type: metrics-api
      metadata:
        url: "https://activate.{{ SC_SHORTNAME }}.dbildungscloud.dev/namespace/{{ NAMESPACE }}/active"
        valueLocation: "active"
        targetValue: "1"
