apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{item}}-scaled-obj
  namespace: {{ NAMESPACE }}
spec:
  scaleTargetRef:
    name: {{item}}
  idleReplicaCount: 0
  minReplicaCount: 1
  maxReplicaCount: 1
  pollingInterval: 30
  cooldownPeriod: 3600
  triggers:
  - type: mongodb
    metadata:
      port: "27017"
      dbName: "keda"
      collection: "namespaces"
      query: '{"name" : "{{ NAMESPACE }}", "$expr" : {"$gt" : ["$activatedUntil" , "$$NOW"]}}'
      queryValue: "1"
    authenticationRef:
      name: mongodb-auth-trigger