apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{item.name}}-scaled-obj
  namespace: {{ NAMESPACE }}
spec:
  scaleTargetRef:
    kind: {{ item.kind | default('Deployment') }}
    name: {{ item.name }}
  idleReplicaCount: 0
  minReplicaCount: {{ item.replicaCount | default(1) }}
  maxReplicaCount: {{ item.replicaCount | default(1) }}
  pollingInterval: 30
  cooldownPeriod: 60
  triggers:
  - type: mongodb
    metadata:
      port: "27017"
      dbName: "keda"
      collection: "namespaces"
      # basically ignored main when namespace=main
      query: '{"$or" : [{"name" : "{{ NAMESPACE }}", "$expr" : {"$gt" : ["$activatedUntil" , "$$NOW"]}}, {"$expr" : {"$eq" : ["{{ NAMESPACE }}", "main"]}}]}'
      queryValue: "1"
    authenticationRef:
      name: sc-common-mongodb-trigger-auth