apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: OnePasswordItem
      name: mongo-cluster-admin-secret
    patch: |-
      - op: replace
        path: /spec/itemPath
        value: vaults/sc-dev-nbc/items/mongo-cluster-schulcloud-dbadmin