apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: insights-cubejs-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: insights-cubejs
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/insights-cubejs"