apiVersion: v1
kind: Secret
metadata:
  name: insights-cubejs-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: insights-cubejs
type: Opaque
data:
  CUBEJS_API_SECRET: "{{ INSIGHTS_CUBEJS_API_SECRET | b64encode }}"
  CUBEJS_DB_HOST: "{{ INSIGHTS_CUBEJS_DB_HOST | b64encode }}"
  CUBEJS_DB_PORT: "{{ INSIGHTS_CUBEJS_DB_PORT | b64encode }}"
  CUBEJS_DB_NAME: "{{ INSIGHTS_CUBEJS_DB_NAME | b64encode }}"
  CUBEJS_DB_USER: "{{ INSIGHTS_CUBEJS_DB_USER | b64encode }}"
  CUBEJS_DB_PASS: "{{ INSIGHTS_CUBEJS_DB_PASS | b64encode }}"
