  - name: Service
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: svc.yml.j2
      state: "{{ 'present' if WITH_ROCKET_CHAT else 'absent'}}"
    tags:
      - service

  - name: Ingress
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: ingress.yml.j2
      state: "{{ 'present' if WITH_ROCKET_CHAT else 'absent'}}"
    tags:
      - ingress

  - name: Configmap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: configmap.yml.j2
      state: "{{ 'present' if WITH_ROCKET_CHAT else 'absent'}}"
    tags:
      - configmap

  - name: External Secret (namespace specific)
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: external-secret.yml.j2
      state: "{{ 'present' if WITH_ROCKET_CHAT and WITH_BRANCH_MONGO_DB_MANAGEMENT else 'absent' }}"
    when: EXTERNAL_SECRETS_OPERATOR
    tags:
      - 1password

  - name: Secret by 1Password
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: onepassword.yml.j2
      state: "{{ 'present' if WITH_ROCKET_CHAT else 'absent'}}"
    when: ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool
    tags:
      - 1password

  - name: Deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: deployment.yml.j2
      state: "{{ 'present' if WITH_ROCKET_CHAT else 'absent'}}"
    tags:
      - deployment

  - name: fixup configmap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: fixup-configmap.yml.j2
      state: "{{ 'present' if WITH_ROCKET_CHAT else 'absent'}}"
    tags:
      - configmap

  - name: fixup job
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: fixup-job.yml.j2
      state: "{{ 'present' if WITH_ROCKET_CHAT else 'absent'}}"
    tags:
      - job
