apiVersion: v1
kind: ConfigMap
metadata:
  name: api-h5p-proxy-configmap-files
  namespace: {{ NAMESPACE }}
  labels:
    app: api-h5p-proxy
data:
  default.conf: |
    server {
      listen      80;
      server_name  _;
      location /api/v3/h5p-editor {
        # Make upload of bigger files possible
        client_max_body_size {{ H5P_PROXY_MAX_BODY_SIZE }};
        proxy_connect_timeout {{ H5P_PROXY_CONNECT_TIMEOUT }};
        proxy_read_timeout {{ H5P_PROXY_READ_TIMEOUT }};
        proxy_send_timeout {{ H5P_PROXY_SEND_TIMEOUT }};
        proxy_hide_header 'Access-Control-Allow-Origin';
        add_header 'Access-Control-Allow-Origin' $http_origin;
        proxy_ssl_server_name on;
        proxy_intercept_errors off;
        proxy_cookie_domain h5p.org '{{ H5P_PROXY_PREFIX }}{{ DOMAIN }}';
        # Turn off gzip so that we can perform regex replacement
        proxy_set_header Accept-Encoding "";
        # Search for ORIGIN and replace with HOST
        sub_filter_once off;
        sub_filter_types *;
        sub_filter 'h5p.org' '{{ H5P_PROXY_PREFIX }}{{ DOMAIN }}';
        proxy_pass http://api-h5p-svc:{{ PORT_H5P_EDITOR }};
      }
    
      location /api/v3/h5p-editor/h5pstatics/ {
        proxy_hide_header 'Access-Control-Allow-Origin';
        add_header 'Access-Control-Allow-Origin' $http_origin;
        proxy_ssl_server_name on;
        proxy_intercept_errors off;
        proxy_cookie_domain h5p.org '{{ H5P_PROXY_PREFIX }}{{ DOMAIN }}';
        # Turn off gzip so that we can perform regex replacement
        proxy_set_header Accept-Encoding "";
        # Search for ORIGIN and replace with HOST
        sub_filter_once off;
        sub_filter_types *;
        sub_filter 'h5p.org' '{{ H5P_PROXY_PREFIX }}{{ DOMAIN }}';
        proxy_pass http://h5p-staticfiles-server-svc:{{ H5P_PORT }}/h5pstatics/;
      }

      location / {
        proxy_hide_header 'Access-Control-Allow-Origin';
        add_header 'Access-Control-Allow-Origin' $http_origin;
        proxy_ssl_server_name on;
        proxy_intercept_errors off;
        proxy_cookie_domain h5p.org '{{ H5P_PROXY_PREFIX }}{{ DOMAIN }}';
        # Turn off gzip so that we can perform regex replacement
        proxy_set_header Accept-Encoding "";
        # Search for ORIGIN and replace with HOST
        sub_filter_once off;
        sub_filter_types *;
        sub_filter 'h5p.org' '{{ H5P_PROXY_PREFIX }}{{ DOMAIN }}';
        proxy_pass https://h5p.org;
      }
    }
