apiVersion: v1
kind: ConfigMap
metadata:
  name: tldraw-nginx-configmap-files
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-nginx
data:
  default.conf: |
    server {
      listen       80;
      server_name  localhost;

      #charset koi8-r;
      #access_log  /var/log/nginx/host.access.log  main;

      # Tldraw-Management
      location /tldraw-management {
        rewrite                /tldraw-management$/(.*) /$1 break;
        rewrite                ^/tldraw-management$ /tldraw-management/ permanent;
        proxy_pass             http://tldraw-svc:{{ PORT_TLDRAW_MANAGEMENT }}/;
        proxy_pass_header Server;
        proxy_redirect         / /tldraw-management/;
        proxy_set_header       Host $host;
        proxy_buffering off;
      }
      # Tldraw-websocket
      location /tldraw-server {
        rewrite                /tldraw-server/(.*) $1 break;
        proxy_pass http://tldraw-svc:{{ PORT_TLDRAW }};
        proxy_redirect         / /tldraw-server/;
        proxy_set_header Host $http_host;
        proxy_buffering off;
        proxy_set_header X-Real-IP $remote_addr;  # http://wiki.nginx.org/HttpProxyModule
        proxy_http_version 1.1;  # recommended with keepalive connections
        # WebSocket proxying - from http://nginx.org/en/docs/http/websocket.html
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
      }
    }
    map $http_upgrade $connection_upgrade {
      default upgrade;
      ''      close;
    }
