---

  - name: trigger auth
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: sc-common-mongodb-trigger-auth.yml.j2

  - name: apply scaled objects
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: scaled-object.yml.j2
      apply: true
    loop: "{{ deployments_for_scaled_objects }}"



