apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  namespace: {{ NAMESPACE }}
  labels:
    app: redis
spec:
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ REDIS_CAPACITY|default("5Gi", true) }}
