apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  namespace: {{ NAMESPACE }}
  labels:
    app: redis
spec:
  storageClassName: {{ SC_DEFAULT_STORAGE_CLASS_NAME }}
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ REDIS_CAPACITY|default("5Gi", true) }}
