apiVersion: v1
kind: Service
metadata:
  name: redis-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: redis
spec:
  type: ClusterIP
  ports:
    - port: {{ REDIS_PORT}}
      targetPort: 6379
      protocol: TCP
      name: redis
  selector:
    app: redis
