apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: clammit-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: clammit
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/clammit"