- name: Service
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: svc.yml.j2
    state: "{{ 'present' if WITH_LIBRE_OFFICE else 'absent'}}"
  tags:
    - service

- name: Ingress
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: ingress.yml.j2
    state: "{{ 'present' if WITH_LIBRE_OFFICE else 'absent'}}"
  tags:
    - ingress

- name: Configmap
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: configmap.yml.j2
    state: "{{ 'present' if WITH_LIBRE_OFFICE else 'absent'}}"
  tags:
    - configmap

- name: Configmap-File
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: configmap-files.yml.j2
    state: "{{ 'present' if WITH_LIBRE_OFFICE else 'absent'}}"
  tags:
    - configmap

- name: Deployment
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: deployment.yml.j2
    state: "{{ 'present' if WITH_LIBRE_OFFICE else 'absent'}}"
  tags:
    - deployment
