  - name: Service
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: svc.yml.j2
      state: "{{ 'present' if WITH_CLAMMIT is defined and WITH_CLAMMIT|bool else 'absent'}}"
    tags:
      - service

  - name: Configmap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: configmap.yml.j2
      apply: yes
      state: "{{ 'present' if WITH_CLAMMIT is defined and WITH_CLAMMIT|bool else 'absent'}}"
    tags:
      - configmap

  - name: Secret by 1Password
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: onepassword.yml.j2
    when: ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool and WITH_CLAMMIT
    tags:
      - 1password

  - name: Deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: deployment.yml.j2
      state: "{{ 'present' if WITH_CLAMMIT is defined and WITH_CLAMMIT|bool else 'absent'}}"
    tags:
      - deployment
