---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: mongo
spec:
  replicas: {{ MONGO_REPLICAS|default(1, true) }}
  strategy:
    type: Recreate
  revisionHistoryLimit: 4
  paused: false
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
      annotations:
        configmapHash: ""
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: mongo
        image: {{ MONGO_IMAGE_NAME }}:{{ MONGO_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        args: ["--replSet", "rs0", "--oplogSize", "10"]
        ports:
        - containerPort: 27017
          name: mongo
          protocol: TCP
        envFrom:
        - configMapRef:
            name: mongo-configmap
        volumeMounts:
        - name: mongodb-data-pv
          mountPath: /data/db
          readOnly: false
        resources:
          limits:
            cpu: {{ MONGO_CPU_LIMITS|default("2000m", true) }}
            memory: {{ MONGO_MEMORY_LIMITS|default("1Gi", true) }}
          requests:
            cpu: {{ MONGO_CPU_REQUESTS|default("100m", true) }}
            memory: {{ MONGO_MEMORY_REQUESTS|default("256Mi", true) }}
      volumes:
      - name: mongodb-data-pv
        persistentVolumeClaim:
          claimName: mongo-pvc
