apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: monog-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: monog
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/mongo-server"
