apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: mongo-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: mongo
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/mongo-server"
