apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
  namespace: {{ NAMESPACE }}
  labels:
    app: mongo
spec:
  storageClassName: {{ SC_DEFAULT_STORAGE_CLASS_NAME }}
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ MONGO_CAPACITY|default("10Gi", true) }}