apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: collabora-admin-password
  namespace: {{ NAMESPACE }}
  labels:
    app: collabora
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/collabora-admin-password"
