apiVersion: v1
kind: ConfigMap
metadata:
  name: etherpad-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: etherpad
data:
  # general
  REQUIRE_SESSION: "true"
  PAD_OPTIONS_SHOW_CHAT: "false"
  DISABLE_IP_LOGGING: "true"
  DEFAULT_PAD_TEXT: "Schreib etwas!\n\nDieses Etherpad wird synchronisiert, während du tippst, so dass alle Betrachter jederzeit den selben Text sehen. So könnt ihr auf einfache Weise gemeinsam an Dokumenten arbeiten."
  DB_TYPE: mongodb
  
