apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: etherpad-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: etherpad
spec:
  refreshInterval: {{ EXTERNAL_SECRETS_REFRESH_INTERVAL }}
  secretStoreRef:
    kind: SecretStore
    name: {{ EXTERNAL_SECRETS_K8S_STORE }}
  target:
    name: etherpad-secret
    template:
      engineVersion: v2
      mergePolicy: Merge
      data:
        DB_URL:  "{{ '{{ .MONGO_MANAGEMENT_TEMPLATE_URL }}/' ~ MONGO_MANAGEMENT_PREFIX ~ 'etherpad' }}"
  dataFrom:
  - extract:
      key: etherpad-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  data:
  - secretKey: MONGO_MANAGEMENT_TEMPLATE_URL
    remoteRef:
      key: mongo-cluster-readwrite-secret
      property: credentials-url
