apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: etherpad-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: etherpad
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/etherpad"