apiVersion: v1
kind: Service
metadata:
  name: etherpad-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: etherpad
spec:
  type: ClusterIP
  ports:
  - port: {{ PORT_ETHERPAD }}
    targetPort: 9001
    protocol: TCP
    name: etherpad
  selector:
    app: etherpad
