apiVersion: apps/v1
kind: Deployment
metadata:
  name: tldraw-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw
spec:
  replicas: {{ TLDRAW_EDITOR_REPLICAS|default(1, true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: tldraw
  template:
    metadata:
      labels:
        app: tldraw
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '8080'
    spec:
      securityContext:
        #readOnlyRootFilesystem: true
        # run as user etherpad (uid 1000)
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: tldraw
        image: {{ SCHULCLOUD_SERVER_IMAGE }}:{{ SCHULCLOUD_SERVER_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3345
          name: tldraw
          protocol: TCP
        env:
        envFrom:
        - configMapRef:
            name: tldraw-configmap
        command: ['npm', 'run', 'nest:start:tldraw:prod']
        resources:
          limits:
            cpu: {{ TLDRAW_EDITOR_CPU_LIMITS|default("2000m", true) }}
            memory: {{ TLDRAW_EDITOR_MEMORY_LIMITS|default("500Mi", true) }}
          requests:
            cpu: {{ TLDRAW_EDITOR_CPU_REQUESTS|default("100m", true) }}
            memory: {{ TLDRAW_EDITOR_MEMORY_REQUESTS|default("50Mi", true) }}


