apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-configmap-deletion
  namespace: {{ NAMESPACE }}
  labels:
    app: mongo-management
data:
  config_script.sh: |
    #!/bin/bash
    mongosh $MONGO_URL --eval 'db.adminCommand({ listDatabases: 1, filter:{"name": /^{{ MONGO_MANAGEMENT_PREFIX }}/} }).databases.forEach(delDB => db.getSiblingDB(delDB.name).dropDatabase())'