apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: mongo-cluster-common-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: mongo-management
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/mongo-cluster-schulcloud-anydatabase-rw"