#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ NAMESPACE }}-libreoffice-ingress
  namespace: {{ NAMESPACE }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "{{ TLS_ENABELD|default("false") }}"
{% if CLUSTER_ISSUER is defined %}
    cert-manager.io/cluster-issuer: {{ CLUSTER_ISSUER }}
{% endif %}

spec:
ingressClassName: nginx
{% if CLUSTER_ISSUER is defined or (TLS_ENABELD is defined and TLS_ENABELD|bool) %}
  tls:
  - hosts:
      - {{ LIBREOFFICE_PREFIX }}{{ DOMAIN }}
{% if CLUSTER_ISSUER is defined %}
    secretName: {{ LIBREOFFICE_PREFIX }}{{ DOMAIN }}-tls
{% endif %}
{% endif %}
  rules:
  - host: {{ LIBREOFFICE_PREFIX }}{{ DOMAIN }}
    http:
      paths:
      - path: /loleaflet
        pathType: ImplementationSpecific
        backend:
          service:
            name: libreoffice-svc
            port:
              number: 9980
      - path: /hosting/discovery
        pathType: ImplementationSpecific
        backend:
          service:
            name: libreoffice-svc
            port:
              number: 9980
      - path: /lool/(.*)/ws
        pathType: ImplementationSpecific
        backend:
          service:
            name: libreoffice-svc
            port:
              number: 9980
      - path: /lool
        pathType: ImplementationSpecific
        backend:
          service:
            name: libreoffice-svc
            port:
              number: 9980
      - path: /lool/adminws
        pathType: ImplementationSpecific
        backend:
          service:
            name: libreoffice-svc
            port:
              number: 9980
