apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: pg-cluster-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: postgres-management
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/pg-cluster-schulcloud"