apiVersion: v1
kind: Secret
metadata:
  name: pg-{{ item }}-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: postgres
type: Opaque
data:
    DB_USER: "{{ (POSTGRES_PREFIX + item)  | b64encode }}"
    DB_USER_PASSWORD: "{{ lookup('ansible.builtin.password', '/dev/null') | b64encode }}"
    DB_NAME: "(POSTGRES_PREFIX + item)"