DEPLOYMENT_ENV: "prod"
SC_THEME: n21
SC_SHORTNAME: nbc
SC_TITLE: Nieders채chsische Bildungscloud
SC_PRODUCTNAME: Nieders채chsische Bildungscloud
SC_NAV_TITLE: Nieders채chsische Bildungscloud
SC_CONTACT_EMAIL: nbc-support@netz-21.de
GLOBAL_ANNOUNCEMENT_TEXT: ''
GLOBAL_ANNOUNCEMENT_ROLES: teacher,administrator
TRAINING_URL: "https://openelec.moodle-nds.de/course/index.php?categoryid=53"

SHOW_VERSION: 1
TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION: opt-in
STUDENT_TEAM_CREATION: disabled
# cors header
CORS: "true"
SECURITY_HEADERS: "true"
## CLIENT | NUXT
SC_FEDERALSTATE: niedersachsen
# FEATURE TOGGLE
ROCKETCHAT_SERVICE_ENABLED: "true"
FEATURE_CONTACT_FORM_ATTACHMENTS_ENABLED: "true"
FEATURE_ENTERTHECLOUD: "false"
FEATURE_EXTENSIONS_ENABLED: "false"
FEATURE_MINT_PAGES_ENABLED: "false"
FEATURE_MULTIPLE_S3_PROVIDERS_ENABLED: "true"
FEATURE_NUXT_SCHOOL_ADMIN_BETA: "true"
FEATURE_TEAMS_ENABLED: "true"
FEATURE_DASHBOARD_DEFAULT_PICTURE_ENABLED: "false"
FEATURE_DASHBOARD_NEWS_ON_TOP_ENABLED: "true"
FEATURE_VIDEOCONFERENCE_ENABLED: "true"
FEATURE_VIDEOCONFERENCE_WAITING_ROOM_ENABLED: "true"
FEATURE_SCHOOL_POLICY_ENABLED: "true"
FEATURE_TSP_AUTO_CONSENT_ENABLED: "false"
FEATURE_LOG_REQUEST: "false"
FEATURE_OAUTH_LOGIN_ENABLED: "true"
FEATURE_LOGIN_LINK_ENABLED: "true"
FEATURE_SCHOOL_SANIS_USER_MIGRATION_ENABLED: "true"
FEATURE_SANIS_GROUP_PROVISIONING_ENABLED: "true"
FEATURE_NEW_SCHOOL_ADMINISTRATION_PAGE_AS_DEFAULT_ENABLED: "true"
FEATURE_SHOW_OUTDATED_USERS: "true"
FEATURE_ENABLE_LDAP_SYNC_DURING_MIGRATION: "true"
FEATURE_SHOW_NEW_CLASS_VIEW_ENABLED: "true"
FEATURE_SHOW_NEW_ROOMS_VIEW_ENABLED: "true"
FEATURE_GROUPS_IN_COURSE_ENABLED: "true"
FEATURE_CTL_TOOLS_COPY_ENABLED: "true"
FEATURE_SHOW_MIGRATION_WIZARD: "true"
FEATURE_USER_MIGRATION_ENABLED: "true"
FEATURE_SCHULCONNEX_COURSE_SYNC_ENABLED: "true"
FEATURE_MIGRATION_WIZARD_WITH_USER_LOGIN_MIGRATION: "true"
FEATURE_OTHER_GROUPUSERS_PROVISIONING_ENABLED: "true"
FEATURE_SCHULCONNEX_MEDIA_LICENSE_ENABLED: "true"

TEACHER_STUDENT_VISIBILITY__IS_ENABLED_BY_DEFAULT: "false"
TEACHER_STUDENT_VISIBILITY__IS_CONFIGURABLE: "true"
TEACHER_STUDENT_VISIBILITY__IS_VISIBLE: "true"

# CONSENT
FEATURE_CONSENT_NECESSARY: "false"

# MIGRATION
MIGRATION_WIZARD_DOCUMENTATION_LINK: "https://docs.dbildungscloud.de/pages/viewpage.action?pageId=308413368&frameable=true"

# ADMIN TABLES
ADMIN_TABLES_DISPLAY_CONSENT_COLUMN: "false"
# Zus채tzlich freigegebene routen
# Route /roster for bettermarks
ROUTE_ROSTER: true
## SERVER
AWS_REGION: eu-central-1
STORAGE_SIGNED_URL_EXPIRE: 600
# LDAP
SERVER_LDAP_SYNC_FULL_CRONJOB: "0 */4 * * *"
WITH_LDAP: true
# PORTS
PORT_SERVER: 3030
PORT_FILE_SERVICE: 4444
PORT_METRICS_SERVER: 9090
# JWT  CONFIG
JWT_WHITELIST_ACCEPT_ALL: "false"
JWT_TIMEOUT_SECONDS: 7200
JWT_SHOW_TIMEOUT_WARNING_SECONDS: 3600
SKIP_CONDITIONS_CONSENT: "student employee"

# EDU-SHARING brabu
# FEATURE_LERNSTORE_ENABLED: Completely enables or disables the ES_..., LERNSTORE_... variables.
FEATURE_LERNSTORE_ENABLED: "true"
FEATURE_ES_COLLECTIONS_ENABLED: "true"
FEATURE_ES_SEARCHABLE_ENABLED: "true"
# LERNSTORE_ MERLIN
FEATURE_ES_MERLIN_ENABLED: "true"
ES_MERLIN_AUTH_URL: http://merlin.nibis.de/auth.php
# produktive Instanz
PROD_INSTANCE: true
# accessibility
ACCESSIBILITY_REPORT_EMAIL: nbc-support@netz-21.de

# Identity Management
IDENTITY_MANAGEMENT__TENANT: "{{ SC_THEME }}"
IDENTITY_MANAGEMENT__CLIENTID: "{{ SC_THEME }}"

# Ghost blog
GHOST_BASE_URL: https://blog.niedersachsen.cloud

# Nextcloud
COLLABORATIVE_STORAGE_PROVIDER: Nextcloud
NEXTCLOUD_SOCIALLOGIN_OIDC_INTERNAL_NAME: SchulcloudNextcloud
FEATURE_NEXTCLOUD_TEAM_FILES_ENABLED: "true"
NEXTCLOUD_SCOPES: "openid offline profile email groups"

# Bettermarks urls
BETTERMARKS_APPS_URL: "https://apps.bettermarks.niedersachsen.cloud"
BETTERMARKS_SCHOOL_URL: "https://school.bettermarks.niedersachsen.cloud"

WITH_MOIN_SCHULE: true
WITH_UNSYNCED_ENTITIES_DELETION: true

# SCHULCONNEX / SANIS / moin.schule Client
SCHULCONNEX_CLIENT__API_URL: "https://api-dienste.stage.niedersachsen-login.schule/v1"
SCHULCONNEX_CLIENT__TOKEN_ENDPOINT: "https://auth.stage.niedersachsen-login.schule/realms/SANIS/protocol/openid-connect/token"

PROVISIONING_SCHULCONNEX_POLICIES_INFO_URL: "https://api-dienste.stage.niedersachsen-login.schule/v1/policies-info"

# Ingress
group_ingress:
  api_v1_roster:
    serviceName: api-svc
    servicePort: "{{ PORT_SERVER }}"
  api_roster:
    serviceName: api-svc
    servicePort: "{{ PORT_SERVER }}"
  api_v1_registration:
    serviceName: default-backend-404-svc
    servicePort: 8080
