DEPLOYMENT_ENV: "prod"
SC_THEME: n21
SC_SHORTNAME: nbc
SC_TITLE: Nieders채chsische Bildungscloud
SC_PRODUCTNAME: Nieders채chsische Bildungscloud
SC_NAV_TITLE: Nieders채chsische Bildungscloud
SC_CONTACT_EMAIL: ticketsystem@niedersachsen.support
GLOBAL_ANNOUNCEMENT_TEXT: ''
GLOBAL_ANNOUNCEMENT_ROLES: administrator
TRAINING_URL: "https://openelec.moodle-nds.de/course/index.php?categoryid=53"

TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION: opt-in
STUDENT_TEAM_CREATION: disabled
## CLIENT | NUXT
SC_FEDERALSTATE: niedersachsen
# FEATURE TOGGLE
FEATURE_MULTIPLE_S3_PROVIDERS_ENABLED: "true"
FEATURE_DASHBOARD_DEFAULT_PICTURE_ENABLED: "false"
FEATURE_DASHBOARD_NEWS_ON_TOP_ENABLED: "true"
FEATURE_VIDEOCONFERENCE_WAITING_ROOM_ENABLED: "true"
FEATURE_OAUTH_LOGIN_ENABLED: "true"
FEATURE_LOGIN_LINK_ENABLED: "true"
FEATURE_USER_LOGIN_MIGRATION_ENABLED: "true"
FEATURE_SCHULCONNEX_GROUP_PROVISIONING_ENABLED: "true"
FEATURE_SHOW_OUTDATED_USERS: "true"
FEATURE_ENABLE_LDAP_SYNC_DURING_MIGRATION: "true"
FEATURE_GROUPS_IN_COURSE_ENABLED: "true"
FEATURE_SHOW_MIGRATION_WIZARD: "true"
FEATURE_USER_MIGRATION_ENABLED: "true"
FEATURE_SCHULCONNEX_COURSE_SYNC_ENABLED: "true"
FEATURE_MIGRATION_WIZARD_WITH_USER_LOGIN_MIGRATION: "true"
FEATURE_OTHER_GROUPUSERS_PROVISIONING_ENABLED: "true"
FEATURE_SCHULCONNEX_MEDIA_LICENSE_ENABLED: "true"
FEATURE_EXTERNAL_SYSTEM_LOGOUT_ENABLED: "true"
FEATURE_VIDIS_MEDIA_ACTIVATIONS_ENABLED: "true"

TEACHER_STUDENT_VISIBILITY__IS_ENABLED_BY_DEFAULT: "false"
TEACHER_STUDENT_VISIBILITY__IS_CONFIGURABLE: "true"
TEACHER_STUDENT_VISIBILITY__IS_VISIBLE: "true"

# CONSENT
FEATURE_CONSENT_NECESSARY: "false"

# MIGRATION
MIGRATION_WIZARD_DOCUMENTATION_LINK: "https://docs.dbildungscloud.de/pages/viewpage.action?pageId=308413368&frameable=true"

# ADMIN TABLES
ADMIN_TABLES_DISPLAY_CONSENT_COLUMN: "false"
# Zus채tzlich freigegebene routen
# Route /roster for bettermarks
ROUTE_ROSTER: true
# LDAP
SERVER_LDAP_SYNC_FULL_CRONJOB: "0 */4 * * *"
# PORTS
PORT_SERVER: 3030
PORT_FILE_SERVICE: 4444
PORT_METRICS_SERVER: 9090
SKIP_CONDITIONS_CONSENT: "student employee"

# accessibility
ACCESSIBILITY_REPORT_EMAIL: ticketsystem@niedersachsen.support

# Identity Management
IDENTITY_MANAGEMENT__TENANT: "{{ SC_THEME }}"
IDENTITY_MANAGEMENT__CLIENTID: "{{ SC_THEME }}"

# Ghost blog
GHOST_BASE_URL: https://blog.niedersachsen.cloud

# Nextcloud
COLLABORATIVE_STORAGE_PROVIDER: Nextcloud
NEXTCLOUD_SOCIALLOGIN_OIDC_INTERNAL_NAME: SchulcloudNextcloud
FEATURE_NEXTCLOUD_TEAM_FILES_ENABLED: "true"
NEXTCLOUD_SCOPES: "openid offline profile email groups"

# Bettermarks urls
BETTERMARKS_APPS_URL: "https://apps.bettermarks.niedersachsen.cloud"
BETTERMARKS_SCHOOL_URL: "https://school.bettermarks.niedersachsen.cloud"

# SCHULCONNEX / moin.schule Client
SCHULCONNEX_CLIENT__API_URL: "https://api-dienste.stage.niedersachsen-login.schule/v1"
SCHULCONNEX_CLIENT__TOKEN_ENDPOINT: "https://auth.stage.niedersachsen-login.schule/realms/SANIS/protocol/openid-connect/token"

PROVISIONING_SCHULCONNEX_POLICIES_INFO_URL: "https://api-dienste.stage.niedersachsen-login.schule/v1/policies-info"

# Ingress
group_ingress:
  api_v1_roster:
    serviceName: api-svc
    servicePort: "{{ PORT_SERVER }}"
  api_roster:
    serviceName: api-svc
    servicePort: "{{ PORT_SERVER }}"
  api_v1_registration:
    serviceName: default-backend-404-svc
    servicePort: 8080

#DASHBOARD_ANNOUNCEMENT_ROLES: "teacher,administrator"
