apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: mongo-cluster-secret
  namespace: mongo-cluster
  labels:
    app: mongo-cluster
spec:
  itemPath: "vaults/sc-dev-nbc/items/devops-mongo-cluster-server"
