#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: apps/v1
kind: Deployment
metadata:
  name: maildrop-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: maildrop
spec:
  replicas: {{ MAILDROP_REPLICAS|default(1, true) }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: maildrop
  template:
    metadata:
      labels:
        app: maildrop
    spec:
      securityContext:  
        #readOnlyRootFilesystem: true
        #runAsNonRoot: true
      containers:
      - name: maildrop
        image: {{ MAILDROP_IMAGE_NAME }}:{{ MAILDROP_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        envFrom:
        - secretRef:
            name: maildrop-secret
        resources:
          limits:
            cpu: {{ MAILDROP_CPU_LIMITS|default("1000m", true) }}
            memory: {{ MAILDROP_MEMORY_LIMITS|default("1Gi", true) }}
          requests:
            cpu: {{ MAILDROP_CPU_REQUESTS|default("100m", true) }}
            memory: {{ MAILDROP_MEMORY_REQUESTS|default("128Mi", true) }}
