apiVersion: v1
kind: ConfigMap
metadata:
  name: oidcmock-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: oidcmock
data:
  # See https://github.com/Soluto/oidc-server-mock/blob/master/README.md
  ASPNETCORE_ENVIRONMENT: Development
  SERVER_OPTIONS_INLINE: |
    {
      "AccessTokenJwtType": "JWT",
      "Discovery": {
        "ShowKeySet": true
      },
      "Authentication": {
        "CookieSameSiteMode": "Lax",
        "CheckSessionCookieSameSiteMode": "Lax"
      }
    }
  LOGIN_OPTIONS_INLINE: |
        {
          "AllowRememberLogin": false
        }
  USERS_CONFIGURATION_INLINE: |
    [
      {
        "SubjectId": "1",
        "Username": "{{ OIDCMOCK_USER }}",
        "Password": "{{ OIDCMOCK_USER_PASSWORD }}",
        "Claims": [
          {
            "Type": "given_name",
            "Value": "Emil"
          },
          {
            "Type": "family_name",
            "Value": "Extern"
          }
        ]
      }
     ]
  CLIENTS_CONFIGURATION_INLINE: |
    {
      "ClientId": "{{ OIDCMOCK_CLIENT_ID }}",
      "ClientSecrets": ["{{ OIDCMOCK_CLIENT_SECRET }}"],
      "Description": "Client for client credentials flow",
      "AllowedGrantTypes": ["client_credentials", "authorization_code"],
      "RequirePkce": false,
      "RedirectUris": ["http://localhost:8080/realms/dBildungscloud/broker/oidc/endpoint"],
      "AllowedScopes": ["openid"]
    }

