---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: oidcmock-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: oidcmock
spec:
  replicas: {{ OIDCMOCK_REPLICAS|default(1, true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
  selector:
    matchLabels:
      app: oidcmock
  template:
    metadata:
      labels:
        app: oidcmock
      annotations:
        configmapHash: ""
    spec:
      securityContext:
        # runAsNonRoot: true
      containers:
      - name: oidcmock
        image: {{ OIDCMOCK_IMAGE_NAME }}:{{ OIDCMOCK_IMAGE_TAG }}
        ports:
        - containerPort: {{ OIDCMOCK_PORT }}
          name: oidcmock
          protocol: TCP
        envFrom:
        - configMapRef:
            name: oidcmock-configmap
        - secretRef:
            name: oidcmock-secret
        resources:
        # find reasonable limits
          limits:
            cpu: {{ OIDCMOCK_CPU_LIMITS|default("250m", true) }}
            memory: {{ OIDCMOCK_MEMORY_LIMITS|default("256Mi", true) }}
          requests:
            cpu: {{ OIDCMOCK_CPU_REQUESTS|default("50m", true) }}
            memory: {{ OIDCMOCK_MEMORY_REQUESTS|default("128Mi", true) }}
