#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ NAMESPACE }}-oidcmock-ingress
  namespace: {{ NAMESPACE }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "{{ TLS_ENABLED|default("false") }}"
{% if CLUSTER_ISSUER is defined %}
    cert-manager.io/cluster-issuer: {{ CLUSTER_ISSUER }}
{% endif %}

spec:
  ingressClassName: {{ INGRESS_CLASS }}
{% if CLUSTER_ISSUER is defined or (TLS_ENABLED is defined and TLS_ENABLED|bool) %}
  tls:
  - hosts:
      - {{ OIDCMOCK_PREFIX }}{{ DOMAIN }}
{% if CLUSTER_ISSUER is defined %}
    secretName: {{ OIDCMOCK_PREFIX }}{{ DOMAIN }}-tls
{% endif %}
{% endif %}
  rules:
  - host: {{ OIDCMOCK_PREFIX }}{{ DOMAIN }}
    http:
      paths:
      - path: /home/
        pathType: Prefix
        backend:
          service:
            name: oidcmock-svc
            port:
              number: {{ OIDCMOCK_PORT }}
      - path: /Account/
        pathType: Prefix
        backend:
          service:
            name: oidcmock-svc
            port:
              number: {{ OIDCMOCK_PORT }}
      - path: /connect/
        pathType: Prefix
        backend:
          service:
            name: oidcmock-svc
            port:
              number: {{ OIDCMOCK_PORT }}
      - path: /lib/
        pathType: Prefix
        backend:
          service:
            name: oidcmock-svc
            port:
              number: {{ OIDCMOCK_PORT }}
      - path: /css/
        pathType: Prefix
        backend:
          service:
            name: oidcmock-svc
            port:
              number: {{ OIDCMOCK_PORT }}
