apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: oidcmock-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: oidcmock
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/oidcmock"
