#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: oidcmock-secret
  labels:
    app: oidcmock
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  OIDCMOCK_USER: {{ OIDCMOCK_USER | b64encode }}
  OIDCMOCK_USER_PASSWORD: {{ OIDCMOCK_USER_PASSWORD | b64encode }}
  OIDCMOCK_CLIENT_ID: {{ OIDCMOCK_CLIENT_ID | b64encode }}
  OIDCMOCK_CLIENT_SECRET: {{ OIDCMOCK_CLIENT_SECRET | b64encode }}
