apiVersion: v1
kind: Service
metadata:
  name: oidcmock-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: oidcmock
spec:
  type: ClusterIP
  ports:
    - port: {{ OIDCMOCK_PORT }}
      targetPort: {{ OIDCMOCK_PORT }}
      protocol: TCP
      name: oidcmock
  selector:
    app: oidcmock
