---
- name: App Deploy
  hosts:
    - reference
    - production
    - loadtest
    - infra
  connection: local
  roles:
    - role: sys
    - role: pre_deployment
    - role: external-secrets
    - role: dof_rabbitmq
    - role: dof_mailcatcher
      when: WITH_MAILCATCHER is defined and WITH_MAILCATCHER|bool
    - role: collabora-office
      when: WITH_COLLABORA_OFFICE is defined and WITH_COLLABORA_OFFICE|bool
    - role: maildrop
    - role: storage
      when: WITH_STORAGE is defined and WITH_STORAGE|bool
    - role: keda
      when: KEDA_ENABLED is defined and KEDA_ENABLED|bool
    - role: hydra
    - role: dof_etherpad
    - role: clamav
    - role: schulcloud-server-core
    - role: schulcloud-server-ldapsync
      when: WITH_LDAP is defined and WITH_LDAP|bool
    - role: schulcloud-server-tspsync
    - role: schulcloud-server-h5p
    - role: schulcloud-server-migration-system
    - role: schulcloud-server-provisioning
    - role: schulcloud-server-init
    - role: schulcloud-client-core
    - role: session-valkey
    - role: nuxt-client-core
    - role: h5p-library-management
    - role: h5p-proxy
    - role: clammit
    - role: h5p-staticfiles-server-core
    - role: fwu
    - role: superhero-dashboard
    - role: schulcloud-calendar-core
    - role: schulcloud-calendar-init
    - role: antivirus_check_service
    - role: version-aggregator
    - role: rocketchat
    - role: mongodb_query_exporter
    - role: tldraw-client-core
    - role: tldraw-server
    - role: tldraw-valkey
    - role: common-cartridge
    - role: ingress
    - role: post_deployment
    - role: moin-schule-sync
      when: WITH_MOIN_SCHULE is defined and WITH_MOIN_SCHULE|bool
    - role: media-licenses
    - role: bilo-media-metadata-sync
    - role: vidis-media-metadata-sync
    - role: file-storage
    - role: legacy-file-archive
      when: WITH_LEGACY_FILE_ARCHIVE is defined and WITH_LEGACY_FILE_ARCHIVE|bool
