#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-configmap-files
  namespace: {{ NAMESPACE }}
  labels:
    app: rabbitmq
data:
  rabbitmq.config: |
    [
      {
        rabbit,
          [
            { loopback_users, [] }
          ]
      },
      {
        rabbitmq_management,
          [
            { load_definitions, "/run/secrets/rabbitmq-definitions.json" }
          ]
      }
    ].
  rabbitmq-definitions.json: |
    {
        "users": [
          {
            "name": "{{ RABBITMQ_USER }}",
            "password_hash": "{{ RABBITMQ_PW_HASH }}",
            "hashing_algorithm": "rabbit_password_hashing_sha256",
            "tags": "administrator"
          }
        ],
        "vhosts": [
          {
            "name": "/"
          }
        ],
        "permissions": [
          {
            "user": "{{ RABBITMQ_USER }}",
            "vhost": "/",
            "configure": ".*",
            "write": ".*",
            "read": ".*"
          }
        ],
        "parameters": [],
        "policies": [],
        "queues": [
        ],
        "exchanges": [],
        "bindings": []
    }
