apiVersion: batch/v1
kind: Job
metadata:
  name: enable-feature-flags-job
  labels:
    app: rabbitmq
spec:
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
      - name: rabbitmq-enable-feature-flags-job
        image: quay.io/schulcloudverbund/infra-tools:latest
        envFrom:
        - secretRef:
            name: rabbitmq-secret
        volumeMounts:
        - name: script
          mountPath: /enable_feature_flags.sh
          subPath: enable_feature_flags.sh
        command: ['/bin/bash','-c']
        args: ['cp /enable_feature_flags.sh /enable_feature_flags.run.sh && chmod +x /enable_feature_flags.run.sh && ./enable_feature_flags.run.sh']
      volumes:
      - name: script
        configMap:
          name: enable-feature-flags-script
          items:
          - key: enable_feature_flags.sh
            path: enable_feature_flags.sh
      restartPolicy: Never
  backoffLimit: 4
