apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: rabbitmq-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: rabbitmq
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/rabbitmq"
