apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rabbitmq-pvc
  namespace: {{ NAMESPACE }}
  labels:
    app: rabbitmq
spec:
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ RABBITMQ_CAPACITY|default("5Gi", true) }}