apiVersion: v1
kind: ConfigMap
metadata:
  name: definitions
data:
  definitions.json: |
    {
        "users": [
          {
            "name": "guest2",
            "password" : "guest2",
            "tags": "administrator"
          }
        ],
        "vhosts": [
          {
            "name": "/"
          }
        ],
        "permissions": [
          {
            "user": "guest2",
            "vhost": "/",
            "configure": ".*",
            "write": ".*",
            "read": ".*"
          }
        ],
        "parameters": [],
        "policies": [],
        "queues": [
        ],
        "exchanges": [],
        "bindings": []
    }
