apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: rabbitmq
spec:
  ports:
    - name: rabbitmq
      port: 5672
      protocol: TCP
    - name: rabbitmq-mgnt
      port: 15672
      protocol: TCP
      targetPort: 15672
    - name: rabbitmq-metric
      port: 15692
      protocol: TCP
  selector:
    app: rabbitmq
  clusterIP: None
