apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: monitoring-prometheus-sc-rabbitmq-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: rabbitmq
    release: monitoring
spec:
  selector:
    matchExpressions:
      - key: app
        operator: in
        values: 
          - rabbitmq
  endpoints:
  - path: /metrics
    port: rabbitmq-metric
