apiVersion: v1
kind: Service
metadata:
  name: mongo-cluster-svc
  namespace: mongo-cluster
  labels:
    app: mongo-cluster
spec:
  type: ClusterIP
  ports:
    - port: 27017
      targetPort: 
      protocol: TCP
      name: mongo
    - port: 9216
      targetPort: 9216
      protocol: TCP
      name: mongo-exporter
  clusterIP: None
  selector:
    app: mongo-cluster
