  - name: bash 1
    shell: pwd
  - name: bash 2
    shell: ls -la
  - name: bash 3
    shell: ls -la ~/
  - name: create dir .kube
    file:
      path: "~/.kube/"
      state: directory
      mode: 0700
    tags:
      - kubeconfig
      - always
      
  - name: push kubeconfig
    copy:
      src: config
      dest: "~/.kube/config"
      mode: 0600
    tags:
      - kubeconfig
      - always
    
  - name: Namespace
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: namespace.yml.j2
    tags:
      - namespace
      - always

  - name: add default deny all networkPolicy
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: deny-all-networkpolicy.yml.j2
    tags:
      - networkPolicy
      - always


  - name: add default networkPolicy
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: networkpolicy.yml.j2
    tags:
      - networkPolicy
      - always

