  - name: create dir .kube
    file:
      path: "~/.kube/"
      state: directory
      mode: 0700
  - name: push kube config
    copy:
      src: config
      dest: "~/.kube/config"
      mode: 0600
  - name: Namespace
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: namespace.yml.j2
      state: absent
    when: BRANCH_EXIST is undefined
    
