apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: session-valkey-exporter
  namespace: {{ NAMESPACE }}
  labels:
    app: session-valkey
spec:
  refreshInterval: {{ EXTERNAL_SECRETS_REFRESH_INTERVAL }}
  secretStoreRef:
    kind: SecretStore
    name: {{ EXTERNAL_SECRETS_K8S_STORE }}
  target:
    name: session-valkey-exporter
    template:
      engineVersion: v2
      data:
        REDIS_PASSWORD: "{{ .SESSION_VALKEY__SENTINEL_PASSWORD }}"
  dataFrom:
    - extract:
        key: session-valkey-password
