storage:
  className: "nfs-client"

haMode:
  enabled: true
  replicas: 3
  masterGroupName: myprimary

image:
  registry: "docker.io"
  repository: "valkey/valkey"
  tag: "8.1.3"

resources:
  limits:
    cpu: "1000m"
    memory: "4Gi"
  requests:
    cpu: "100m"
    memory: "1Gi"

sentinelResources:
  limits:
    cpu: "1000m"
    memory: "4Gi"
  requests:
    cpu: "100m"
    memory: "1Gi"

extraSecretValkeyConfigs: "session-valkey-config"
extraSecretSentinelConfigs: "session-valkey-sentinel-config"

metrics:
  enabled: true
  exporter:
    args:
      - --check-key-groups=(jwt):.+
    extraExporterEnvSecrets:
      - "session-valkey-exporter"
  serviceMonitor:
    interval: 30s
    extraEndpointParameters:
      metricRelabelings:
          - sourceLabels: [ __name__ ]
            regex: redis_key_group_count
            action: replace
            targetLabel: longterm
            replacement: "true"