storage:
  className: "{{ SC_DEFAULT_STORAGE_CLASS_NAME }}"

haMode:
  enabled: true
  replicas: {{ SESSION_VALKEY_REPLICAS }}
  masterGroupName: myprimary

image:
  registry: "docker.io"
  repository: "valkey/valkey"
  tag: "{{ SESSION_VALKEY_IMAGE_VERSION }}"

resources:
  limits:
    cpu: "{{ SESSION_VALKEY_CPU_LIMITS|default('1000m', true) }}"
    memory: "{{ SESSION_VALKEY_MEMORY_LIMITS|default('4Gi', true) }}"
  requests:
    cpu: "{{ SESSION_VALKEY_CPU_REQUESTS|default('100m', true) }}"
    memory: "{{ SESSION_VALKEY_MEMORY_REQUESTS|default('1Gi', true) }}"

sentinelResources:
  limits:
    cpu: "{{ SESSION_VALKEY_CPU_LIMITS|default('1000m', true) }}"
    memory: "{{ SESSION_VALKEY_MEMORY_LIMITS|default('4Gi', true) }}"
  requests:
    cpu: "{{ SESSION_VALKEY_CPU_REQUESTS|default('100m', true) }}"
    memory: "{{ SESSION_VALKEY_MEMORY_REQUESTS|default('1Gi', true) }}"

extraSecretValkeyConfigs: "session-valkey-config"
extraSecretSentinelConfigs: "session-valkey-sentinel-config"

metrics:
  enabled: true
  exporter:
    image:
      registry: "docker.io"
      repository: "oliver006/redis_exporter"
      tag: "{{ SESSION_VALKEY_REDIS_EXPORTER_IMAGE_VERSION }}"
    resources:
        limits:
            cpu: "{{ SESSION_VALKEY_EXPORTER_CPU_LIMITS|default('1000m', true) }}"
            memory: "{{ SESSION_VALKEY_EXPORTER_MEMORY_LIMITS|default('1Gi', true) }}"
        requests:
            cpu: "{{ SESSION_VALKEY_EXPORTER_CPU_REQUESTS|default('100m', true) }}"
            memory: "{{ SESSION_VALKEY_EXPORTER_MEMORY_REQUESTS|default('1Gi', true) }}"
    args:
      - --check-key-groups=(jwt):.+
    extraExporterEnvSecrets:
      - "session-valkey-exporter"
  serviceMonitor:
    interval: 30s
    extraEndpointParameters:
      metricRelabelings:
          - sourceLabels: [ __name__ ]
            regex: redis_key_group_count
            action: replace
            targetLabel: longterm
            replacement: "true"