apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: insights-engine-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: insights-engine
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/insights-engine"