apiVersion: v1
kind: Secret
metadata:
  name: insights-engine-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: insights-engine
type: Opaque
data:
  CUBEJS_API_SECRET: "{{ INSIGHTS_CUBEJS_API_SECRET | b64encode }}"
  DATABASE_URL: "{{ INSIGHTS_DATABASE_URL | b64encode }}"
  RABBIT_URL: "{{ INSIGHTS_RABBIT_URL | b64encode }}"
