apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: insights-collector-deployment-autoscaler
  namespace: {{ NAMESPACE }}
spec:
  maxReplicas: {{ INSIGHTS_COLLECOTR_REPLICAS_MAX|default(6, true) }}
  minReplicas: {{ INSIGHTS_COLLECOTR_REPLICAS_MIN|default(2, true) }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: insights-collector-deployment
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80
  #targetCPUUtilizationPercentage: 80
