apiVersion: v1
kind: ConfigMap
metadata:
  name: insights-collector-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: insights-collector
data:
  # general
  PORT: "3000"
  HOST: "0.0.0.0"

  
