apiVersion: apps/v1
kind: Deployment
metadata:
  name: insights-collector-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: insights-collector
spec:
  replicas: {{ INSIGHTS_COLLECOTR_REPLICAS|default(2, true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
  selector:
    matchLabels:
      app: insights-collector
  template:
    metadata:
      labels:
        app: insights-collector
    spec:
      initContainers:
      - name: migration-insights-collector
        image: {{ INSIGHTS_COLLECOTR_IMAGE_NAME }}:{{ INSIGHTS_COLLECOTR_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        command: ["npm", "run", "migrate", "up"]
        envFrom:
        - configMapRef:
            name: insights-collector-configmap
        - secretRef:
            name: insights-collector-secret
      containers:
      - name: insights-collector
        image: {{ INSIGHTS_COLLECOTR_IMAGE_NAME }}:{{ INSIGHTS_COLLECOTR_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: insights-collector-configmap
        - secretRef:
            name: insights-collector-secret
        resources:
          limits:
            cpu: {{ INSIGHTS_COLLECOTR_CPU_LIMITS|default("1000m", true) }}
            memory: {{ INSIGHTS_COLLECOTR_MEMORY_LIMITS|default("1Gi", true) }}
          requests:
            cpu: {{ INSIGHTS_COLLECOTR_CPU_REQUESTS|default("100m", true) }}
            memory: {{ INSIGHTS_COLLECOTR_MEMORY_REQUESTS|default("128Mi", true) }}
              
