apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: insights-collector-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: insights-collector
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/insights-collector"