apiVersion: v1
kind: Service
metadata:
  name: cachet-postgres-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: cachet-postgres
spec:
  ports:
  - port: 5432
  selector:
    app: cachet-postgres
  clusterIP: None