---
name: Clean up namespaces

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      user_name:
         required: false
         default: hpi-schul-clud-bot
         type: string
      user_email:
         required: false
         default: bot@hpi-schul-cloud.de
         type: string
    secrets:
      token:
        required: true
      DEV_KUBE_CONFIG_BRB:
        required: true
      DEV_KUBE_CONFIG_NBC:
        required: true
      DEV_KUBE_CONFIG_THR:
        required: true
      DEV_KUBE_CONFIG_DBC:
        required: true

permissions:
  contents: read

jobs:
  create_branch_identifier:
    uses: hpi-schul-cloud/dof_app_deploy/.github/workflows/branch-to-namespace.yml@main
    with:
      branch: ${{ inputs.branch }}

  gather_branch_exists:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
         - schulcloud-server
         - schulcloud-client
         - nuxt-client
         - superhero-dashboard
         - shd-client
         - schulcloud-calendar
         - antivirus_check_service
         - version-aggregator
         - dof_app_deploy
         - h5p-staticfiles-server
         - tldraw-client
    steps:
      - run: |
          echo "git_ref_name=${{ inputs.branch }}" >> $GITHUB_ENV
          echo git_ref_name ${{ inputs.branch }}
      - uses: actions/checkout@v4
        with:
          repository: hpi-schul-cloud/${{ matrix.repo }}
          token: ${{ secrets.token }}
          path: ${{ matrix.repo }}
          fetch-depth: 0
      - name: Add Flag for existing branch
        working-directory: ${{github.workspace }}/${{ matrix.repo }}
        id: branch_exists
        shell: bash
        run: |
          if git show-ref --quiet --verify refs/remotes/origin/${{ env.git_ref_name }} > /dev/null; then
            echo "branch_exists=true" >> $GITHUB_ENV
          else
            echo "branch_exists=false" >> $GITHUB_ENV
          fi
      ## Write for matrix outputs workaround https://github.com/orgs/community/discussions/17245
      - uses: cloudposse/github-action-matrix-outputs-write@0.5.0
        id: out
        with:
          matrix-step-name: ${{ github.job }}
          matrix-key: ${{ matrix.repo }}
          outputs: |-
            branch_exists: ${{ env.branch_exists }}
            

  examine_branch_existence:
    runs-on: ubuntu-latest
    needs: gather_branch_exists
    outputs:
      are_all_branches_deleted: ${{ steps.are_all_branches_deleted.outputs.are_all_branches_deleted }}
    steps:
      ## read for matrix outputs workaround https://github.com/orgs/community/discussions/17245
      - uses: cloudposse/github-action-matrix-outputs-read@0.1.2
        id: read
        with:
          matrix-step-name: gather_branch_exists
      - name: are_all_branches_deleted
        id: are_all_branches_deleted
        run: |
          existing_branches=$(echo ${{ toJSON(steps.read.outputs.result) }} | jq '.branch_exists | del(..|select(. == false))')
          echo "repos with existing branches are: $existing_branches"
          if [ $(echo $existing_branches | jq 'length') == "0" ]; then
             echo "no branches left";
             echo "are_all_branches_deleted=true" >> $GITHUB_OUTPUT;
          else
             echo "are_all_branches_deleted=false" >> $GITHUB_OUTPUT;
          fi

  delete_namespaces:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubeconfig: [DEV_KUBE_CONFIG_BRB, DEV_KUBE_CONFIG_NBC, DEV_KUBE_CONFIG_THR, DEV_KUBE_CONFIG_DBC]
      fail-fast: false
    if: needs.examine_branch_existence.outputs.are_all_branches_deleted  == 'true'
    needs:
      - examine_branch_existence
      - create_branch_identifier
    steps:
      - run: |
          mkdir files
          echo "${{ secrets[matrix.kubeconfig] }}" > files/config
      - name: delete custom resources, databases and namespaces
        run: |
          branch_identifier='${{ needs.create_branch_identifier.outputs.id_branch }}'
          kubectl --kubeconfig=files/config --namespace $branch_identifier patch job/pg-deletion-job -p '{"spec":{"suspend":false}}' || echo "::warning::Couldn't clean up the postgres databases "
          kubectl --kubeconfig=files/config --namespace $branch_identifier delete --ignore-not-found=true --all=true ScaledObject
          kubectl --kubeconfig=files/config --namespace $branch_identifier delete --ignore-not-found=true --all=true TriggerAuthentication
          kubectl --kubeconfig=files/config --namespace $branch_identifier wait --for=delete pod/pg-deletion-job --timeout=180s || echo "::warning::Couldn't clean up the postgres databases "
          kubectl --kubeconfig=files/config --namespace $branch_identifier delete --ignore-not-found=true --all=true OnePasswordItem
          kubectl --kubeconfig=files/config delete --ignore-not-found=true ns $branch_identifier
      - name: remove kubeconfig
        run: |
          rm -rf  files/config
